<div class="container">
  <h2 class="title">Bot Trades</h2>
  <div class="search-container">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Ticker, Position Type">
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="data" class="mat-elevation-z8" matSort>
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <!-- Ticker Column -->
      <ng-container matColumnDef="ticker">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticker </th>
        <td mat-cell *matCellDef="let element"> {{element.ticker}} </td>
      </ng-container>

      <!-- Predicted Close Column -->
      <ng-container matColumnDef="predictedClose">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Predicted Close </th>
        <td mat-cell *matCellDef="let element"> {{element.predictedClose | number: '1.2-2'}} </td>
      </ng-container>

      <!-- Last Close Price Column -->
      <ng-container matColumnDef="lastClosePrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Close Price </th>
        <td mat-cell *matCellDef="let element"> {{element.lastClosePrice | number: '1.2-2'}} </td>
      </ng-container>

      <!-- Position Type Column -->
      <ng-container matColumnDef="positionType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Position Type </th>
        <td mat-cell *matCellDef="let element"> {{element.positionType}} </td>
      </ng-container>

      <!-- Entry Price Column -->
      <ng-container matColumnDef="entryPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Entry Price </th>
        <td mat-cell *matCellDef="let element"> {{element.entryPrice | number: '1.2-2'}} </td>
      </ng-container>

      <!-- Close Price Column -->
      <ng-container matColumnDef="closePrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Close Price </th>
        <td mat-cell *matCellDef="let element"> {{element.closePrice | number: '1.2-2'}} </td>
      </ng-container>

      <!-- Profit Column -->
      <ng-container matColumnDef="profit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Profit </th>
        <td mat-cell *matCellDef="let element"> {{element.profit | number: '1.2-2'}} %</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
