@import 'src/styles.scss'; // Import global styles

.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #e0f7fa;
  border-radius: 10px;
  margin-bottom: 20px;

  .title {
    color: #00796b;
    font-size: 40px;
    font-weight: bold;
  }
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;

  .selected {
    background-color: mat-color($custom-accent, 500); // Use primary color
    color: white;
  }

  button {
    margin: 5px;
  }
}

.model-button-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;

  .selected {
    background-color: mat-color($custom-accent, 500); // Use accent color
    color: white;
  }

  button {
    margin: 5px;
  }
}

.no-trades {
  color: #d32f2f;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.table-container {
  padding: 20px;
  background-color: #e3f2fd;
  border-radius: 10px 10px 0 0; // Only top corners are rounded
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .trade-selection {
    color: #01579b;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
  }

  table {
    width: 100%;
    background-color: white;
    overflow: hidden;

    th {
      background-color: #bbdefb;
    }

    td {
      text-align: left !important;
    }

    tr:hover {
      background-color: #e3f2fd;
    }
  }
}

::ng-deep .mat-paginator-container {
  justify-content: center;
}
