@import "~@angular/material/theming";

// Include the common styles for Angular Material
@include mat-core();

// Define your custom theme
$custom-primary: mat-palette($mat-blue-grey);
$custom-accent: mat-palette($mat-light-blue, A200, A100, A400);
$custom-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
    typography: (
      font-family: 'Roboto, "Helvetica Neue", sans-serif',
    )
  )
);

// Apply the theme
@include angular-material-theme($custom-theme);

// Shared styles
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;

  .selected {
    background-color: mat-color($custom-primary, 500); // Use primary color
    color: white;
  }

  button {
    margin: 5px;
  }
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.table-container {
  padding: 20px;
  background-color: #e3f2fd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .trade-selection {
    color: #01579b;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
  }

  table {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

    th {
      background-color: #bbdefb;
    }

    td {
      text-align: left !important;
    }

    tr:hover {
      background-color: #e3f2fd;
    }
  }
}

.no-data-message {
  text-align: center;
  font-size: 18px;
  color: #d32f2f;
  padding: 20px 0;
}

