<div class="container">
  <h2 class="title">Stock Predictions</h2>
  <div class="button-container">
    <button mat-raised-button color="primary" routerLink="/trade-list">View Trades</button>
  </div>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

  <div class="table-container mat-elevation-z8">
    <mat-form-field class="filter">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Apple">
    </mat-form-field>

    <table mat-table [dataSource]="data" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="ticker">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticker </th>
        <td mat-cell *matCellDef="let element"> {{element.ticker}} </td>
      </ng-container>

      <ng-container matColumnDef="predictedClose">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Predicted Close </th>
        <td mat-cell *matCellDef="let element"> {{element.predictedClose | number: '1.2-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="lastClosePrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Close Price </th>
        <td mat-cell *matCellDef="let element"> {{element.lastClosePrice | number: '1.2-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="percentageDifference">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Points to be captured (%) </th>
        <td mat-cell *matCellDef="let element"> {{element.percentageDifference | number: '1.2-2'}} % </td>
      </ng-container>

      <ng-container matColumnDef="takeTrade">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="takeTrade(element)">Take Trade</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="{'background-color': getRowColor(row.percentageDifference)}"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
