@import 'src/styles.scss'; // Import global styles

.toggle-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #e0f7fa;
  border-radius: 10px;

  .title {
    color: #00796b;
    font-size: 40px;
    font-weight: bold;
  }
  button{
    max-height: 40px;
  }
}
.title {
  color: #00796b;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.model-button-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

  button {
    margin: 0 10px;
  }
  .selected {
    background-color: mat-color($custom-accent, 500); // Use accent color
    color: white;
  }
}

.mat-elevation-z8 {
  padding: 20px;
  background-color: #e3f2fd;
  border-radius: 10px 10px 0 0; // Only top corners are rounded
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-form-field.filter {
  width: 100%;
}

table {
  width: 100%;
  background-color: white;
  overflow: hidden;

  th {
    background-color: #bbdefb;
  }

  td {
    text-align: left !important;
  }

  tr:hover {
    background-color: #e3f2fd;
  }
}

::ng-deep .mat-paginator-container {
  justify-content: center;
}
