.container {
  }
  
  .mat-elevation-z8 {
  }
  
  mat-form-field.filter {
    width: 100%;
  }
  
  table {
    width: 100%;
    
    th {
    }
    
    td {
    }
    
    tr:hover {
    }
  }
  
  /* Apply custom styles to mat-paginator-container */
  ::ng-deep .mat-paginator-container {
  }
  